@import '../../../app.scss';

.videoHelp {
    margin-top: 70px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .videoDiv {
        width: 560px;
        height: 315px;
    }

    .btnBack {
        text-decoration: none;
        background-color: $colorB;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
        border-radius: 4px;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: rgb(36, 134, 120);
        }
    }
}

@media (max-width: 767px) {
    .videoHelp {
        .videoDiv {
            width: 290px;
            height: 163px;
        }
    }
}