@import '../../../../app.scss';

.newHelpSite {
    width: 80%;
    margin: 4rem auto;

    strong {
        color: $colorB;
    }

    .updTicketHelpCont {
        width: 100%;

        .line {
            margin: 8rem 0;
        }

        .updTicketHelpTitle {
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                font-size: 4rem;
            }

            p {
                font-size: 1.2rem;
            }

            .registerHelpVideo {
                text-decoration: none;
                color: $colorA;
            }
        }

        .updTicketHelpVideo {
            text-decoration: none;
            color: $colorA;
            font-weight: 600;
            transition: .3s ease-in-out;

            &:hover {
                color: $colorB;
            }
        }
    }

    .newHelpSiteContA {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;

        p {
            width: 50%;
            line-height: 2rem;
        }

        img {
            width: 300px;
            box-shadow: 5px 5px 15px;
        }
    }

    .newHelpSiteContD {
        margin: 0 auto;
        margin-top: 6rem;
        width: 80%;
        line-height: 2rem;

        h5 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        div h6 {
            font-size: 1rem;
            margin-top: 2rem;
        }

        .divImgShifts {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                margin-top: 4rem;
            }
        }
    }

    .newHelpSiteContB {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            line-height: 2rem;
        }

        img {
            margin: 2rem 0 6rem 0;
            width: 60%;
            box-shadow: 5px 5px 15px;
        }
    }

    .newHelpSiteContC {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 4rem;

        .newHelpImgA {
            width: 30%;
        }
        .newHelpImgC {
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .newHelpSite {
        padding: 1px;
        .updTicketHelpCont {
            .updTicketHelpTitle {
                text-align: center;
                h5 {
                    font-size: 2.6rem;
                }
            }
        }

        .updTicketHelpVideo {
            text-decoration: none;
            color: $colorA;
            font-weight: 600;
            transition: .3s ease-in-out;

            &:hover {
                color: $colorB;
            }
        }

        .newHelpSiteContD {
            text-align: center;
            width: 94%;
    
            .divImgShifts {
                width: 100%;
                display: flex;
                justify-content: center;
    
                img {
                    width: 100%;
                }
            }
        }

        .newHelpSiteContA {
            gap: 2rem;
            flex-direction: column;
            align-items: center;

            p {
                width: 100%;
                text-align: center;
            }

            img {
                width: 280px;
                box-shadow: 5px 5px 15px;
            }
        }

        .newHelpSiteContB {
            text-align: center;
            img {
                width: 100%;
            }
        }
    
        .newHelpSiteContC {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .newHelpImgA {
                width: 100%;
            }
            .newHelpImgC {
                width: 100%;
            }
        }
    }
}