.sliderComp {
    padding: 1rem 0;
    height: 300px;
}

.imgCarousel {
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgb(51, 51, 51);
}