@import '../../../../app.scss';

.vewSiteHtml {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 4rem !important;

    .bannerSite {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .imgBanner {
            width: 70%;
            height: 400px;
            background-size: cover;
        }

        .logo {
            width: 200px;
            height: 200px;
            object-fit: contain;
            background-color: #fff;
            padding: 6px;
            border-radius: 50%;
            position: absolute;
            left: 18%;
            bottom: 5%;
            border: solid 1px black;
        }

        h2 {
            font-size: 4rem;
        }
    }

    .vewSiteHtmlA {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 4rem;

        .vewSitImgAa {
            display: flex;
            gap: 2rem;
            width: 80%;
            margin-top: 4rem;

            p {
                line-height: 2rem;
            }

            .vewSitImgAA {
                width: 400px;
                object-fit: cover;
                box-shadow: 5px 5px 15px rgb(29, 29, 29);
            }
        }

        .vewSitImgA {
            margin-top: 4rem;
            width: 80%;
            box-shadow: 5px 5px 15px rgb(29, 29, 29);
        }
    }

    .vewSitText {
        width: 65%;
        margin: 0 auto;
        padding-bottom: 4rem;
        line-height: 2rem;
    }

    .carousel {
        width: 75%;
        margin: 0 auto;
    }

    .vewSitCards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 4rem;

        .vewSitCard {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 1rem;
            border-radius: 4px;
            width: 300px;
            text-align: center;

            img {
                width: 300px;
                height: 400px;
                object-fit: cover;
            }
        }
    }

    .videoSites {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0 auto;
        width: 86%;
        padding-bottom: 6rem;

        .videoSite {
            width: 560px;
            height: 315px;
        }
    }
}

.vewSiteHtmlDark {
    background-color: black;
    color: #fff;
}

@media (max-width: 1025px) {

    .vewSiteHtml {
        padding: 0;
        .bannerSite {
            padding: 0;
            .imgBanner {
                width: 100%;
                height: 250px;
                background-position: center;
            }
            .logo {
                width: 70px;
                height: 70px;
                padding: 2px;
                left: 10px;
                bottom: 30%;
            }
            h2 {
                font-size: 2rem;
            }
        }

        .vewSiteHtmlA {
            width: 100%;

            .vewSitImgAa {
                flex-direction: column;
                align-items: center;
                width: 95%;
                margin-top: 2rem;
                p {
                    text-align: center;
                }
                .vewSitImgAA {
                    width: 280px;
                }
            }
            .vewSitImgA {
                margin-top: 2rem;
                width: 90%;
            }
        }
        .vewSitText {
            width: 95%;
        }

        .carousel {
            width: 100%;
        }

        .vewSitCards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 4rem;

            .vewSitCard {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 1rem;
                border-radius: 4px;

                img {
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }

        .videoSites {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 2rem;
            margin: 0 auto;
            width: 86%;
            padding-bottom: 6rem;

            .videoSite {
                width: 560px;
                height: 315px;
            }
        }
    }
}