.socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 4rem;

    .socialMediaData {
        display: flex;
        gap: 6px;
    }

    .socialMediaIcon {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        
        a img {
            border-radius: 50%;
            padding: 3px;
            background-color: white;
        }
    }
}