.newSiteDas {
    width: 100%;
    margin-top: 70px;
    padding: 2rem;

    .newSiteDasTitle {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .newSiteDasNewSite {
        margin-top: 1rem;
    }

    .space {
        margin: 4rem 0;
    }
}