@import '../../../../app.scss';

.newPassword {
    min-height: 100vh;
    margin-top: 70px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.671)), url('https://res.cloudinary.com/dtjzfz2ex/image/upload/v1711804175/background/rlrktvbkuqevlhnqion7.jpg');
    background-size: cover;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;

    .formPassword {
        height: 70vh;
        background-color: #ffffff1f;
        padding: 2rem;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        h2 {
            font-size: 2rem;
        }

        .inputNewPass {
            display: flex;
            flex-direction: column;

            input {
                height: 30px;
                width: 280px;
                border-radius: 12px;
                border: none;
                background-color: #ffffff23;
                padding-left: 5px;

                &::placeholder {
                    color: $colorC;
                }
                
            }
        }

        .btn {
            height: 30px;
            width: 200px;
            border-radius: 12px;
            border: solid 1px #ffffff2a;
            background-color: #ffffff2a;
            cursor: pointer;
            transition: .3s ease-in-out;
            box-shadow: 5px 5px 10px black;
            font-weight: 600;
            &:hover {
                border: solid 1px $colorA;
            } 
            &:active {
                box-shadow: none;
            }
        }
    }
}