@import '../../../../../app.scss';

.CheckMap {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .divBetNewEvent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .divInEvent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            label {
                margin-left: 10px;
            }

            .inpSel {
                width: 270px;
                height: 56px;
                border-radius: 3px;
                padding-left: 5px;
                border: 1px solid rgba(128, 128, 128, 0.548);
                box-shadow: none;

                &:hover {
                    border: 1px solid black;
                }
            }
        }

    }

    .roads {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .choose {
            border: none;
            background-color: $colorA;
            color: #ffff;
            padding: 4px 8px;
            margin-top: 6px;
            border-radius: 3px;
            box-shadow: 2px 4px 10px black;
            cursor: pointer;
            transition: .3s ease-in-out;
            text-decoration: none;

            &:hover {
                background-color: $colorD;
            }

            &:active {
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .CheckMap {
        .divBetNewEvent {
            .divInEvent {
                align-items: center;
            }
        }

        .roads {
            align-items: center;
        }
    }
}