@import '../../app.scss';

.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;

    .dashboardCont {
        width: 200px;
        height: auto;
        color: #fff;
        background-color: $colorC;
        padding: 5rem 0.2rem 0 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;

        .dashboardH2 {
            text-decoration: none;
            margin-bottom: 6px;
            color: #fff;

            h2 {
                transition: .3s;
                &:hover {
                    color: $colorA;
                }
            }
        }

    }
}