.VewByProduct {
    min-height: 60vh;
    width: 70%;
    margin: 100px auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    
    .VewByProductImgs {
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    
    .VewByProduct {
        width: 95%;
        padding: 1rem;
        gap: 4rem;
    }
}